<!DOCTYPE html>
<html lang="en" ng-app="blackMarket">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="shortcut icon" href="favicon.png" />
  <link rel="stylesheet" type="text/css" href="/vendors/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css" />
  <link rel="stylesheet" type="text/css" href="/vendors/normalize.css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script> -->
  <script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
  <!-- <script src="js/ui-bootstrap-tpls-0.12.1.min.js"></script>
  <script src="js/ng-google-chart.js"></script>
  <script src="js/urf-controllers.js"></script>
  <script src="js/urf-angular.js"></script> -->
</head>
<body>
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
      getProfilePicture();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
      FB.init({
        appId      : '1629239127356735',
        xfbml      : true,
        version    : 'v2.4'
      });


  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me?fields=name,email,age_range,birthday', function(response) {
      console.log('Successful login for: ' + response.name);
      console.log(JSON.stringify(response));
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ';
      $('.username').text(response.name + ' !');
      $('.name').text(response.name);
      $('.user-email').text(response.email);
      $('.user-email').attr('href', 'mailto:' + response.email);
      $('.mailto').attr('href', 'mailto:' + response.email)
      $('.age-range').text(response.age_range.max + ' years old');
    });
  }

    // Get profile picture
  function getProfilePicture() {
    console.log('Welcome!  Fetching your profile picture.... ');
    FB.api('/me/picture?width=150&height=150', function(response) {
      // console.log(JSON.stringify(response))
      $('#profile_picture').attr('src', response.data.url);
      $('.profile-picture').attr('src', response.data.url);
    });
  }
</script>
  <div class="background">
    <div class="dot"></div>
  </div>

  <div ng-view></div>

  <!-- Profile overview -->
  <div class="wrap">
  <div class="right-menu">
    <a class="active" href="#profile"><i class="fa fa-user"></i><span>Profile</span></a>
    <a href="#project"><i class="fa fa-photo"></i><span>Picture</span></a>
  </div>
  <div class="content">

  <!-- OTHER -->
  <ul id="people" class="nonborderbox">
  <li class="nonborderbox">
    <img class="profile-picture" src=""/></a>
    <h2 class="username"></h2>
    <span class="info">
      <em>CS Student</em>
      <em>France</em>
      <em class="age-range">20 years old</em>
    </span>
    <span class="info">
      <em class="user-email"></em>
    </span>
  </li>

</ul>
    <div class="profile open animated zoomIn">
      <div class="avatar">
        <div class="bubble">
          <div id="status"></div>
          <h3 class="username"></h3>
          <a class="user-email" href=""></a>
        </div>

      </div>
    </div>
    <div class="project animated zoomIn">
      <div class="avatar">

        <div class="bubble">
          <h3>Coming Soon</h3>
          <a href="#">View Details</a>

        </div>

      </div>
    </div>

    <div class="skills animated zoomIn">
      <div class="avatar">

        <div class="bubble">
          <h3>Coming Soon</h3>
          <a href="#">View Details</a>

        </div>

      </div>
    </div>
  </div>

  <!--End Content-->
  <!-- <div class="footer">
    <a href="" target="_blank"><i class="fa fa-link"></i><span>Website</span></a>
    <a href="" target="_blank"><i class="fa fa-codepen"></i><span>My Pen</span></a>
    <a href="" target="_blank"><i class="fa fa-twitter"></i><span>Follow</span></a>
    <a class="mailto" href="" target="_top"><i class="fa fa-briefcase"></i><span>Hire me</span></a>
  </div> -->
</div>

  <!-- facebook boxed layout -->
  <div class="container">
    <div class="box">
      <div class="header"><a class="name" href="#">Awesome dude</a> Comment
        <div class="date">Date here</div>
      </div>
      <div class="body">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
      <div class="links"><a href="#">Link</a></div>
      <div class="footer-com"></div>
    </div>
    <div class="box">
      <div class="header"><a class="name" href="#">Awesome dude</a> Comment
        <div class="date">Date here</div>
      </div>
      <div class="body">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
      <div class="links"><a href="#">Link</a></div>
      <div class="footer-com"></div>
    </div>
    <div class="box blue">
      <div class="header"><a class="name" href="#">Awesome dude</a> Comment
        <div class="date">Date here</div>
      </div>
      <div class="body">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
      <div class="links"><a href="#">Link</a></div>
      <div class="footer-com"></div>
    </div>
  </div>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->
<fb:login-button scope="public_profile,email,birthday" onlogin="checkLoginState();">
</fb:login-button>

<div id="status"></div>

  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Hello this is bullshit</p>
      </div>
    </div>
  </footer>

<script type="text/javascript">
var today = new Date(),
    dd = today.getDate(),
    mm = today.getMonth()+1,
    yyyy = today.getFullYear();

if (dd < 10) {
    dd = '0'+dd;
}

if (mm < 10) {
    mm ='0'+mm;
}

month = today.toLocaleString("en-us", { month: "long" });

today = dd + ' ' + month + ' ' + yyyy;

$('.date').text(today);

$(function () {
  $('.right-menu a').click(function(){
    $(this).siblings().removeClass('active');
    $(this).addClass('active');

    var tab = $(this).attr('href').replace('#','.');
    $('.content>div').removeClass('open');
    $(tab).addClass('open');

  });
});
</script>
</body>
</html>
