<!DOCTYPE html>
<html ng-app="blackMarket">
  <head>
    <title><%= title %></title>
    <style type="text/css">
      body { white-space: pre; font-family: monospace; }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>

    <%= match_find %>

    <ng-view></ng-view>

  </body>
</html>
